<p ID = "UserDetails">User Details</p >
<div ID = "profileContainer"> 


    <div class="card">
            <img src="../../../assets/images/happy_customer.jpg" alt="John" style="width:100%">
            <h1>{{Username}}</h1>
            <h5>{{Email}}</h5>
            <p class="title">Customer of 8 years.</p>
            <p>Reston, VA</p>
            
            <p><button>Accounts</button></p>
            <p><button>Transaction History</button></p>
    </div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Id">
        <h2 mat-header-cell *matHeaderCellDef> Id </h2>
        <p mat-cell *matCellDef="let element"> {{element.Id}} </p>
    </ng-container>
    <ng-container matColumnDef="Username">
        <h2 mat-header-cell *matHeaderCellDef> Username </h2>
        <p mat-cell *matCellDef="let element"> {{element.Username}} </p>
    </ng-container>
    <ng-container matColumnDef="Email">
        <h2 mat-header-cell *matHeaderCellDef> Email </h2>
        <p mat-cell *matCellDef="let element"> {{element.Email}} </p>
    </ng-container>
    <ng-container matColumnDef="PasswordHash">
        <h2 mat-header-cell *matHeaderCellDef> PasswordHash </h2>
        <p mat-cell *matCellDef="let element"> {{element.PasswordHash}} </p>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>