
<div class="container">
    <div class="jumbotron">
      <h1>NEWS</h1>
  </div>
  <div class="card">
    <div class="card-body">
      <span class="badge badge-pill badge-primary">Tech</span>
      <h4 class="card-title">Google reportedly set a goal of being a top-two cloud player by 2023</h4>
      <p class="card-text">Published Tue, Dec 17 201911:41 AM EST</p>
      <a href="https://www.cnbc.com/2019/12/17/google-reportedly-wants-to-be-top-two-player-in-cloud-by-2023.html" target="_blank" class="card-link">Go to Story</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <span class="badge badge-pill badge-primary">Tech</span>
      <h4 class="card-title">Amazon is joining a project that could upend network chipmakers such as Broadcom</h4>
      <p class="card-text">Published Fri, Dec 13 201911:32 AM EST</p>
      <a href="https://www.cnbc.com/2019/12/13/amazon-chips-into-dent-open-source-networking-os-challenging-broadcom.html" target="_blank" class="card-link">Go to Story</a>
    </div>
  </div>
<div class="card">
    <div class="card-body">
        <span class="badge badge-pill badge-primary">Finance</span>
      <h4 class="card-title">Citi cuts Twitter estimates and price target, citing concerns over ‘near-term revenue outlook’</h4>
      <p class="card-text">Published Wed, Dec 18 20198:42 AM EST</p>
      <a href="https://www.cnbc.com/2019/12/18/citi-cuts-twitter-estimates-and-price-target-citing-concerns-over-near-term-revenue-outlook.html" target="_blank" class="card-link">Go to Story</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <span class="badge badge-pill badge-primary">Finance</span>
      <h4 class="card-title">Morgan Stanley upgrades Eli Lilly, seeing growth for diabetes drugs and a strong pipeline</h4>
      <p class="card-text">Published Wed, Dec 18 20198:32 AM EST</p>
      <a href="https://www.cnbc.com/2019/12/18/morgan-stanley-upgrades-eli-lilly-seeing-growth-for-diabetes-drugs.html" target="_blank" class="card-link">Go to Story</a>
    </div>
  </div>
  
