<h2 class="header"> {{account.accNickname}} Details</h2>
<fieldset>
  <legend>Id: {{account.id}}</legend>
  <h3 style="text-align:center;"><b>Balance: </b>{{account.balance | currency}}</h3>
  <span id="balance" hidden>{{account.balance}}</span>
  <div>
          <accordion [closeOthers]="true" [isAnimated]="true">
                  <accordion-group heading="|| Pay Loan"> 
                          <form class="form-style-7">
                                  <ul>
                                  <!-- <li>
                                          <label>Payment Type</label>
                                          <select id="mypaymentchoice" class="field-select" onclick="LoanPaymentChoice()"> 
                                          <option value="Monthly">Monthly payment</option>
                                          <option value="All">Pay All</option>
                                          <option value="Custom">Custom amount</option>
                                          </select>
                                          <span>Select the payment type here</span>
                                  </li> -->
                                  <li>
                                          <label for="name">Amount</label>
                                          <!-- TODO: Remove hardcode -->
                                          <input name="" type="text" id="loanamount" maxlength="100" [(ngModel)]="pay_amount" [ngModelOptions]="{standalone: true}">
                                          <span>{{pay_message}} {{pay_amount}}</span>
                                  </li>
                                  <li>
                                          <input type="submit" value="Confirm" (click)="OnPaySubmit()">
                                  </li>
                                  </ul>
                          </form>
                  </accordion-group>
                  <accordion-group heading="|| Transactions"> 
                          
                  </accordion-group>
          </accordion>
  </div> 
</fieldset>

