<fieldset>
  <legend>{{account.accountName}}-0{{account.id}}</legend>
  <h3 style="text-align:center;"><b>Balance: </b>${{account.balance}}</h3>
  <div>
          <accordion [closeOthers]="true" [isAnimated]="true">
                  <accordion-group heading="|| Pay Loan"> 
                          <form class="form-style-7">
                                  <ul>
                                  <li>
                                          <label>Payment Type</label>
                                          <select name="field4" class="field-select">
                                          <option value="Advertise">Monthly payment</option>
                                          <option value="Partnership">Pay All</option>
                                          <option value="General Question">Custom amount</option>
                                          </select>
                                          <span>Select the account from transfer here</span>
                                  </li>
                                  <li>
                                          <label for="name">Amount</label>
                                          <input type="text" name="name" maxlength="100" value="0">
                                          <span>Select the payment type above and confirm</span>
                                  </li>
                                  <li>
                                          <input type="submit" value="Confirm" >
                                  </li>
                                  </ul>
                          </form>
                  </accordion-group>
                  <accordion-group heading="|| Transactions"> 
                          
                  </accordion-group>
          </accordion>
  </div> 
</fieldset>

