
<div style = "margin: 5%; background-color: #ddeaf3; ">
    <h1 style="text-align: center; font-size:3rem">Create New Account</h1>
    <p style="text-align: center;">_______________________________________________________________</p>
    <div style=" margin: 0 5% 5% 5%; padding: 10px; font-size:1.25rem;">
        <label>Select Account type: </label>
        <select class="form-control" name="accountType" [(ngModel)]=newAccount.accountTypeId placeholder="Type of Account" required>
            <option *ngFor="let accType of filterOptions" [value]="accType">
                {{ accType }}
            </option>  
        </select>
        <br>
        <label>Enter Initial Balance: $</label>
        <input type="number" step="0.01" class="form-control" [(ngModel)]="newAccount.balance">
        <br><br>
        <input type="button" (click)="postCustomer()" value="Create" [disabled]="isSubmitted"/>
        

    </div>

</div>
    
    <!--
        (click)="showSelectedType(accType)" 
    <div class="alert alert-danger" *ngIf="accountType.touched && !accountType.valid">
        Please select the type of account
    </div>

    

    

    


<!--
    id: number;         - auto
    userId: number;     - assing
    accountTypeId: number;   - select
    balance: number;    - Initial Balance
    createDate: Date;   - Set auto 
    isClosed: boolean;  - true while submitting
-->