<div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a routerLink="/profile">Profile</a>
        <a routerLink="/accounts" >Accounts</a>
        <a href="#about">News</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>

        <a class="right" *ngIf="!(loggedIn | async)" routerLink="/home"> Login </a>
        <a class="right" *ngIf="loggedIn | async" routerLink="/home"> Logout </a>
</div>

