<div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a routerLink="/profile">Profile</a>
        <a routerLink="/accounts" >Accounts</a>
        <a href="#about">News</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>

        <a class="right" routerLink="/login" *ngIf="!auth.loggedIn"> Log In </a>
        <a class="right" routerLink="/register" *ngIf="!auth.loggedIn">Register </a>
        <a class="right" routerLink="/Logout" *ngIf="auth.loggedIn"> Logout </a>
</div>

