#gridContainer{
    display:grid;
    grid-template-columns : repeat(12,1fr);
    grid-template-rows : 50px minmax(800px,auto) 75px;
}

#navBar{
    grid-column:span 12;
    background-color: #333333;

}
#contentArea{
    grid-column:span 12;
    background-color: rgba(0, 38, 255, 0.705);

}
#footer{
    grid-column:span 12;
    background-color: aquamarine;

}