<h2 class=" header"> {{account.accNickname}} Details</h2>
<fieldset>
  <legend>Id: {{account.id}}</legend>
  <h3 style="text-align:center;"><b>Balance: </b>{{account.balance | currency}}</h3>
  <div>
          <accordion [closeOthers]="true" [isAnimated]="true">
                  <accordion-group>
                          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                            <div class="pull-left float-left">
                              Withdraw
                            </div>
                          </button>
                          <form class="form-style-7">
                                  <ul>
                                  <li>
                                          <label for="name">Amount</label>
                                          <input type="text" readonly name="name" maxlength="100" [value]="account.balance|currency">
                                          <!-- TODO: Fix hardcode -->
                                          <span>You cannot withdraw before maturity</span>
                                  </li>
                                  <li>
                                          <input type="submit" value="Confirm" >
                                  </li>
                                  </ul>
                          </form>
                  </accordion-group>
                  <accordion-group> 
                          <!-- TODO: Transfers should be restricted to maturity -->
                        <button class="btn btn-link btn-block clearfix"
                        accordion-heading type="button">
                        <div class="pull-left float-left">
                        Transfer
                        </div>
                        </button>
                        <form class="form-style-7">
                                <ul>
                                        <li>
                                        <label>To</label>
                                        <select name="field4" class="field-select">
                                        <option *ngFor="let acc of accounts$ | async" [value]="acc.id">
                                                {{acc.accNickname}} ({{acc.id}})
                                        </option>>
                                        </select>
                                        <span>Select the destination account</span>
                                        </li>
                                        <li>
                                        <label for="name">Amount</label>
                                        <input type="text" name="name" maxlength="100" value="0">
                                        <span>Enter transfer amount</span>
                                        </li>
                                        <li>
                                        <input type="submit" value="Confirm">
                                        </li>
                                </ul>
                        </form>
                  </accordion-group>
          </accordion>
  </div> 
</fieldset>
