<div ID = "LandingWrapper">
       <!-- <button type="button" class="btn btn-primary" routerLink = "/register">
            Register
        </button>

        <button type="button" class="btn btn-primary" routerLink = "/login">
            Log In
        </button> 
-->

<div class="jumbotron">
    <h1 class="display-4">Welcome to Net Bank.</h1>
    <p class="lead">Banking made simple.</p>
    <hr class="my-4">
    <p>Latest technology to achieve security, convenience, and reliability.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>