
<div style="background-color: #a7d1f0;">
    <h1 class="headerTitleAcc">Accounts</h1>
</div>

<!--Information Wrapper ahead-->

<div ID="AccountViewWrapper">
    <div class="DivideAccountView">
        <h2 class="blockStyle">Existing Accounts</h2>
        <!--Filter Button-->
        <div style="margin-top:3rem; float: right;">
            <div class="btn-group" dropdown style="display: inline-flex !important;">
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    Filter Accounts
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><label style="cursor: pointer;" class="dropdown-item">Checking</label></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><label style="cursor: pointer;" class="dropdown-item">Business</label></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><label style="cursor: pointer;" class="dropdown-item">Loan</label></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><label style="cursor: pointer;" class="dropdown-item">CD</label></li>
    
                </ul>
            </div>
        </div>
    </div>
    <div class="DivideAccountView">
        <h2 class="blockStyle">Details</h2>
    </div>

    <!--List and show info using child component-->
    <div class="DivideAccountView">
        <accordion [closeOthers]="true" [isAnimated]="true">
            <accordion-group *ngFor="let a of account" heading="{{a.Name}}-0{{a.id}}" (click)="getAccount(a)">
                    <p><b>Account Number:</b> 001230{{a.id}}</p>
                    <p><b>Rounting Number:</b> 1234590001</p>
            </accordion-group>
        </accordion>
    </div>

    <div class="DivideAccountView">
        <div *ngIf="showInfo; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div style="background-color:white">
                    <app-checking-account [account]="infoAccount">
                    </app-checking-account>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div style="height: 150px; background-color: white;">
                    <h3>Please Select an account</h3>
                </div>
            </ng-template>
    </div>
    <div class="DivideAccountView">
        <h3 style="cursor:pointer; color:rgb(27, 79, 253);">+ Create a new Account</h3>
    </div>

</div>