
<div style="background-color: #a7d1f0;"> 
    <h1 class="headerTitleAcc">Accounts</h1>
</div>


<!--Information Wrapper ahead-->

<div ID="AccountViewWrapper">

    <div class="DivideAccountView">
        <h2 class=" header" >Your Accounts</h2>
        <!--Filter Button-->
        <div style="margin-top:1rem;">
            <div class="btn-group" dropdown style=" float: right; display: inline-flex !important;">
                <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-animated">
                  Select Account Type
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-animated">
                    <li *ngFor="let option of filterOptions" (click)="filter(option)"
                    class="dropdown-item" role="menuitem" style="cursor: pointer;">
                         {{option}} 
                    </li>
                </ul>
            </div>
            <h3 style="display:inline; cursor:pointer; color:rgb(27, 79, 253);">+ Create a new Account</h3>

        </div>

    <!--List and show info using child component-->

        <div class="DivideAccountView">
            <accordion [closeOthers]="true" [isAnimated]="true">
        
                <accordion-group *ngFor="let a of accounts" heading={{a.accountName}} (click)="getAccount(a)"
                    (isOpenChange)="openChange(a)">
                    <p><b>Account Number:</b> {{a.accountNumber}}</p>
                </accordion-group>
            </accordion>
        </div>

    </div>

    <div class="DivideAccountView">
        <h2 class=" header">Details</h2>

        <ng-template app-view-container></ng-template>       
    </div>
   

</div>