#AccountViewWrapper {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    background-color: #ddeaf3; 
    justify-content: space-evenly;
}
.panel-group{
    width: 125%;

}
.pull-left{
    font-size: large;
}
.headerTitleAcc{
    color: #020e17;
    text-align: center;
    padding: 25px;
    font-size: 3rem;
    margin-bottom:0px;
}

.DivideAccountView {
    padding: 15px 15px 0px 15px;
    width: 300px;
    margin-left: -30px;
}

.CreateAccount {
    display:inline; 
    cursor:pointer;
    color:rgb(27, 79, 253);
}

.btn+.btn{
    margin-left: 1rem;
}

.header{
    margin: 0 auto;
    text-align: center;
}