<div ID="AccountViewWrapper">

    <div>
        <h2>Accounts</h2>

        <div class="btn-group" dropdown>
                <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-animated">
                  Filter Accounts <span class="caret"></span>
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-animated">
                  <li role="menuitem"><a class="dropdown-item" href="#">Checking</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Business</a>
                  </li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Loan</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">CD</a></li>

                </ul>
              </div>


        <accordion [closeOthers]="true" [isAnimated]="true">
            <accordion-group *ngFor="let a of account" heading={{a.Name}}-0{{a.id}} (click)="getAccount(a)">
                    <p><b>Account Number:</b> 001230{{a.id}}</p>
                    <p><b>Rounting Number:</b> 1234590001</p>
            </accordion-group>
        </accordion>
    </div>

    <div>
        <h2>{{master}}</h2>
        <h3 style="color:white"> This is.... </h3>
        <div *ngIf="showInfo; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div style="background-color:white">
                    <app-checking-account [account]="infoAccount">
                    </app-checking-account>
                </div>
                <accordion [closeOthers]="true" [isAnimated]="true">
                        <accordion-group heading="Deposit">
                            <p><b>Amount:</b></p>
                            <input type="text" value="Amount">
                            <input type="submit" value="Submit">
                        </accordion-group>
                    </accordion>
            </ng-template>
            <ng-template #elseBlock>
                <div style="height: 150px; background-color: white;">
                    <h3>Please Select an account</h3>
                </div>
            </ng-template>
    </div>
    

</div>